body {
    margin: 0 !important;
    width: 100vw;
    background: rgba(0, 0, 0, .05);
    overflow-x: hidden;
}
.backdrop {
    transition: all ease 600ms;
    opacity: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 30;
    pointer-events: none;
}
.body {
    height: 100%;
    width: 100%;
}

.content-container {
    cursor: pointer;
    transition: all linear 200ms;
    height: 45%;
    display: flex;
    justify-content: center;
    /* align horizontal */
    align-items: center;
    /* align vertical */
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    animation: fadeIn 1500ms;
    background: rgba(255, 255, 255, 1);
    border-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.content-container:hover {
    transform: scale(.95);
    color: white;
    background-color: rgba(0, 0, 0, .8);
    z-index: 20;
}
.content-container:focus {
    z-index: 20;
}
.content-container h2 {
    animation: fadeInDown 800ms;
}

.fa.icon {
    font-size: 18rem;
    margin-bottom: 2rem;
    animation: fadeInUp 800ms;
}

.contact-items {
    margin-bottom: 6rem;
}

.contact-item {
    transition: all linear 200ms;
}

.contact-item:hover {
    transform: scale(1.2);
}

.fa.contact-item {
    font-size: 10rem;
    animation: fadeInUp 800ms;
}

.contact-item:not(:first-child) {
    margin-left: 2rem;
}

@media (max-width: 650px) {
    .fa.contact-item {
        font-size: 8rem;
    }
    .fa.icon {
        font-size: 14rem;
    }
    .contact-items {
        margin-bottom: 1rem;
    }
}

@media (min-width: 550px) {
    .six.columns {
        width: 50%;
    }
    .column, .columns {
        margin-left: 0;
    }
}
